<%if(amigos.length !== 0){%>
  <div class="superior">
      <span>Amigos</span>
  </div>
  <div class="friends">
    <ul class="lista-amigos">

<% amigos.forEach(amigo =>{%>
    <li>
      <img class="img-perfil" src="<%= amigo.imagen %>" alt="avatar">
      <span><%= amigo.nombre_completo %></span>
    </li>
  <%})%>
</ul>
</div>
<%} %>
