<%if(amigos){
  amigos.forEach(amigo =>{
    if(amigo.confirmado === 1){%>
    <li>
      <img class="img-perfil" src="<%= amigo.imagen %>" alt="avatar">
      <span><%= amigo.nombre_completo %></span>
    </li>
  <%  }
 })
} %>
