<%if(patrones && amigos){
  patrones.forEach(patron =>{
    let esta = false;
    amigos.forEach(amigo =>{
      if(patron.email === amigo.amigo){
        esta = true;
      }
    })
    if(esta === false){%>
      <li>
        <div class="encontrado">
          <div class="izquierda">
            <img class="img-perfil" src="<%= patron.imagen %>" alt="avatar">
            <span><%= patron.nombre_completo %></span>
          </div>
          <div class="derecha">
            <form action="solicitud.html" method="post">
              <input type="hidden" value="<%= patron.nombre_completo %>" name="nombre">
              <input id="boton" type="submit" value="Enviar solicitud">
            </form>
          </div>
          </div>
      </li>
  <% }
   })
} %>
