<header>
       <div>
             <img src="img/Logo.png" alt="FaceBluff - Logo" id="logo">
       </div>
       <nav class="enlaces">
        <ul class="lista">
            <li><a href="/profile.html">Perfil</a></li>
            <li><a href="/amigos.html">Amigos</a></li>
            <li><a href="/preguntas.html">Preguntas</a></li>
            <li><a href="/logout.html">Desconectar</a></li>
            <li><img id="lilav"src="/imagen_perfil/<%= userEmail %>"></li>
            <li id="ptos"><%= puntos %> pts</li>
        </ul>
    </nav>
</header>
