<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crear Pregunta - FaceBluff</title>
    <link rel="stylesheet" type="text/css" href="./css/preguntas.css">
</head>
<body>
   <%- include cabecera %>
     <section class="contenido">
        <div class="superior">
            <span>Crear Pregunta</span>
        </div>
        <div class="formulario-pregunta">
        <form action="/crearPregunta" method="post">
          <ul class="form">
            <li>
              <div class="izquierda">
                Insertar pregunta:
              </div>
              <div class="derecha">
                <input id="inputs" type="text" name="pregunta">
              </div>
            </li>
            <li>
              <div class="izquierda">
                Insertar opcion 1:
              </div>
              <div class="derecha">
                <input id="inputs" type="text" name="opcion 1">
              </div>
            </li>
            <li>
              <div class="izquierda">
                Insertar opcion 2:
              </div>
              <div class="derecha">
                <input id="inputs" type="text" name="opcion 2">
              </div>
            </li>
            <li>
              <div class="izquierda">
                Insertar opcion 3:
              </div>
              <div class="derecha">
                <input id="inputs" type="text" name="opcion 3">
              </div>
            </li>
            <li>
              <div class="izquierda">
                Insertar opcion 4:
              </div>
              <div class="derecha">
                <input id="inputs" type="text" name="opcion 4">
              </div>
            </li>
          </ul>
          <div class="botonSubmit">
            <input id="boton" type="submit" value="Crear pregunta">
          </div>
        </form>
        </div>
   </section>
</body>
</html>
