<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crear Pregunta - FaceBluff</title>
    <link rel="stylesheet" type="text/css" href="./css/preguntas.css">
</head>
<body>
   <%- include cabecera %>
     <section class="contenido">
        <div class="superior">
            <span>Crear Pregunta</span>
        </div>
        <div class="formulario-pregunta">
        <form action="/crearPregunta" method="post">
          <ul class="form">
            <input type="hidden" name="pregunta" value="<%= preg %>">
            <% for (let i=0; i < num; i++){ %>
              <li>
                <div class="izquierda">
                  Insertar opcion <%= (i+1) %>:
                </div>
                <div class="der">
                  <input type="text" name="opcion[<%= i %>]">
                </div>
              </li>
            <% } %>
          </ul>
          <div class="botonSubmit">
            <input class="boton" type="submit" value="Crear pregunta">
          </div>
        </form>
        </div>
   </section>
</body>
</html>
