<!DOCTYPE html>
<html>
	<head>
		<title>Error en la busqueda</title>
		<meta charset="UTF-8">
	</head>
	<body>
		<h1>404 - Página no encontrada</h1>
		<p>La página que busca parece no existir: <%= mensaje %></p>
		<p>Pila de ejecución</p>
		<pre><%= pila %></pre>
	</body>
</html>
