<% if((typeof message.text) === "string") {
    if(message.type === "danger"){
  %>
        <div class="flash-danger">
          <span><%= message.text %></span>
        </div>
<%  }else{ %>
        <div class="flash-info">
          <span><%= message.text %></span>
        </div>
  <% }
}else if(message.text !== undefined){ %>
  <% if(message.type === "danger"){ %>
    <% message.text.forEach(m => { %>
            <div class="flash-danger">
              <span><%= m.msg %> </span>
              <span><%= m.value %></span>
            </div>
    <% }) %>
    <% } %>
<% } %>
