<%if(fotos){ %>
  <div class="superior">
    <span>Fotos</span>
  </div>
  <div class="fotos-perfil">
  <%fotos.forEach(foto =>{ %>
    <img class="imagen" src="/fotos/<%= foto.filename %>">
  <% }) %>
  </div>
<%} %>
