<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Amigos - FaceBluff</title>
    <link rel="stylesheet" type="text/css" href="./css/list_amigos.css">
</head>
<body>
   <header>
          <div>
                <img src="img/Logo.png" alt="FaceBluff - Logo" id="logo">
          </div>
          <nav class="enlaces">
           <ul class="lista">
               <li><a href="/profile.html">Perfil</a></li>
               <li><a href="/amigos.html">Amigos</a></li>
               <li><a href="">Preguntas</a></li>
               <li><a href="/logout.html">Desconectar</a></li>
               <li><img id="lilav"src=<%= usuario.imagen %>></li>
               <li id="ptos"><%= usuario.puntos %> pts</li>
           </ul>
       </nav>
   </header>
   <section class="contenido">
        <div class="superior">
            <span>Amigos</span>
        </div>
        <div class="friends">
          <ul class="lista-amigos">
            <%- include("amigos") %>
          </ul>
        </div>
        <div class="solicitudes">
          <span>Solicitudes</span>
        </div>
        <div class="amistad-solicitada">
          <ul class="lista-solicitudes">
            <%- include("solicitudes") %>
          </ul>
        </div>
        <div class="buscar">
          <span>Buscar</span>
        </div>
        <div class="buscador">
          <ul class="busca">
            <li>
              <form action="amigos.html" method="post">
              <input class="input-buscador" type="text" name="busca">
              <input id="boton" type="submit" value="Buscar">
              </form>
            </li>
          </ul>
        </div>
   </section>

</body>
</html>
