<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bienvenido - FaceBluff</title>
    <link rel="stylesheet" type="text/css" href="./css/login.css">
</head>
<body>
   <header>
          <div>
                <img src="img/Logo.png" alt="FaceBluff - Logo" id="logo">
          </div>
          <nav class="enlaces">
           <ul class="lista">
               <li><a href="#">Entrar</a></li>
               <li><a href="./new-user.html">Nuevo Usuario</a></li>
           </ul>
       </nav>
   </header>
   <section class="contenido">
        <div class="superior">
            <span>Entrar</span>
        </div>
        <div class="login">
               <form action="login.html" method="POST">
                <input type="hidden" name="tipo" value="login">
                <ul class="formulario">
                       <li class="f_email">
                            <span>Email</span>
                            <input class="input_e" type="text" name="email">
                       </li>
                       <li class="f_pass">
                            <span>Contraseña</span>
                            <input class="input_p" type="password" name="password">
                       </li>
                       <li class="conectar">
                           <input id="boton" type="submit" value="Conectar">
                       </li>
                   </ul>

               </form>
        </div>
   </section>
   <%- include("flash") %>

</body>
</html>
