<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bienvenido - FaceBluff</title>
    <link rel="stylesheet" type="text/css" href="./css/login.css">
</head>
<body>
   <header>
          <div>
                <img src="img/Logo.png" alt="FaceBluff - Logo" id="logo">
          </div>
          <nav class="enlaces">
           <ul class="lista">
               <li><a href="#">Entrar</a></li>
               <li><a href="./new_user.html">Nuevo Usuario</a></li>
           </ul>
       </nav>
   </header>
   <section class="contenido">
       <%- include("flash") %>
        <div class="superior">
            <span>Entrar</span>
        </div>
        <div class="login">
               <form action="login.html" method="POST">
                <input type="hidden" name="tipo" value="login">
                <ul class="formulario">
                       <li>
                         <div class="izq">
                           <span>Email</span>
                         </div>
                         <div class="der">
                           <input type="text" name="email">
                         </div>
                       </li>
                       <li>
                         <div class="izq">
                           <span>Contraseña</span>
                         </div>
                         <div class="der">
                           <input type="password" name="password">
                         </div>
                       </li>
                       <li class="conectar">
                           <input class="boton" type="submit" value="Conectar">
                       </li>
                   </ul>

               </form>
        </div>
   </section>

</body>
</html>
