<% if(modificar === "si"){ %>
  <li class="butt">
    <form action="/modify_profile.html" method="get">
      <input id="boton" type="submit" value="Modificar perfil">
    </form>
    <form action="/upload_photos.html" method="get">
      <input id="boton" type="submit" value="Subir fotos">
    </form>
  </li>
<% } %>
