<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nuevo Usuario - FaceBluff</title>
    <link rel="stylesheet" type="text/css" href="./css/new-user.css">
</head>
<body>
   <header>
          <div>
                <img src="../../img/Logo.png" alt="FaceBluff - Logo" id="logo">
          </div>
          <nav class="enlaces">
           <ul class="lista">
               <li><a href="/">Entrar</a></li>
               <li><a href="#">Nuevo Usuario</a></li>
           </ul>
       </nav>
   </header>
     <section class="contenido">
        <div class="superior">
            <span>Nuevo Usuario</span>
        </div>
        <div class="formulario-newuser">
        <form action="new_user.html" method="post">
            <input type="hidden" name="tipo" value="newuser">
            <ul class="formulario">
                <li class="f_email">
                    <span>Email</span>
                    <input class="input_e" type="text" name="email">
                </li>
                <li class="f_pass">
                    <span>Contraseña</span>
                    <input class="input_p" type="password" name="password">
                </li>
                <li class="f_nombre">
                    <span>Nombre completo</span>
                    <input class="input_n" type="text" name="nombre_completo">
                </li>
                <li class="f_sexo">
                    <span>Sexo</span>
                    <input class= "input_s" type="radio" name="sexo" value="Hombre"> Masculino
                    <input type="radio" name="sexo" value="Mujer"> Femenino
                    <input type="radio" name="sexo" value="Otro"> Otro
                </li>
                <li class="f_fnacimiento">
                    <span>Fecha de nacimiento</span>
                    <input class="input_fn" type="date" name="fecha_de_nacimiento">
                </li>
                <li class="f_imagen">
                    <span>Imagen de perfil</span>
                    <input class="input_img" type="file" name="imagen_perfil" value="Seleccionar archivo">
                </li>
                <li class="conectar">
                    <input id="boton" type="submit" value="Crear usuario">
                </li>
            </ul>
        </form>
        </div>
   </section>
   <%- include("flash") %>
</body>
</html>
