<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nuevo Usuario - FaceBluff</title>
    <link rel="stylesheet" type="text/css" href="./css/new-user.css">
</head>
<body>
   <header>
          <div>
                <img src="../../img/Logo.png" alt="FaceBluff - Logo" id="logo">
          </div>
          <nav class="enlaces">
           <ul class="lista">
               <li><a href="/">Entrar</a></li>
               <li><a href="#">Nuevo Usuario</a></li>
           </ul>
       </nav>
   </header>
     <section class="contenido">
       <%- include("flash") %>
        <div class="superior">
            <span>Nuevo Usuario</span>
        </div>
        <div class="formulario-newuser">
        <form action="new_user.html" method="post" enctype="multipart/form-data">
            <input type="hidden" name="tipo" value="newuser">
            <ul class="formulario">
                <li>
                  <div class="izq">
                    <span>Email</span>
                  </div>
                  <div class="der">
                    <input type="text" name="email">
                  </div>
                </li>
                <li>
                  <div class="izq">
                    <span>Contraseña</span>
                  </div>
                  <div class="der">
                    <input type="password" name="password">
                  </div>
                </li>
                <li>
                  <div class="izq">
                    <span>Nombre completo</span>
                  </div>
                  <div class="der">
                    <input type="text" name="nombre_completo">
                  </div>
                </li>
                <li>
                  <div class="izq">
                    <span>Sexo</span>
                  </div class="radios">
                    <input type="radio" name="sexo" value="Hombre"> Masculino
                    <input type="radio" name="sexo" value="Mujer"> Femenino
                    <input type="radio" name="sexo" value="Otro"> Otro
                </li>
                <li>
                  <div class="izq">
                    <span>Fecha de nacimiento</span>
                  </div>
                  <div class="der">
                    <input type="date" name="fecha_de_nacimiento">
                  </div>
                </li>
                <li>
                  <div class="izq">
                    <span>Imagen de perfil</span>
                  </div>
                  <div class="der">
                    <input type="file" name="imagen_perfil" value="Seleccionar archivo">
                  </div>
                </li>
                <li class="conectar">
                    <input class="boton" type="submit" value="Crear usuario">
                </li>
            </ul>
        </form>
        </div>
   </section>
</body>
</html>
