<div class="noContestado">
<% if (!contestado){ %>
    <div class="span">
      <span>No has contestado a esta pregunta</span>
    </div>
    <div class="span">
      <form method="POST" action="contestarPregunta">
        <input type="hidden" name="idPregunta" value="<%= preg.id %>">
        <input type="hidden" name="pregunta" value="<%= preg.texto %>">
        <input id="boton" type="submit" value="Contestar Pregunta">
      </form>
    </div>
<% } else { %>
    <div class="span">
      <span>Tu respuesta ha sido:</span>
    </div>
    <div class="span">
      <span><%= opcion.opcion %></span>
    </div>
  <% } %>
</div>
