<% if(opciones){
  opciones.forEach(opcion =>{ %>
    <li>
      <input type="radio" name="opcion" value="<%= opcion.id %>">
      <span> <%= opcion.opcion %> </span>
      <!--<input type="hidden" name="opcionElegida" value -->
   </li>
      <% })
    } %>
    <li> <input type="radio" name="opcion" value="otra"> <span> Otra: </span> <input name="otraResp" type="text"> </li>
