<% if(opciones){
  opciones.forEach(opcion =>{ %>
    <li class="opts">
      <input type="radio" name="idOpcion" value="<%= opcion.id %>">
      <span> <%= opcion.opcion %> </span>
   </li>
      <% })
    } %>
