<%if(pendientes.length !== 0){ %>
  <div class="superior">
    <span>Pendientes</span>
  </div>
  <div class="friends">
    <ul class="lista-amigos">
  <% pendientes.forEach(amigo =>{%>
    <li>
      <img class="img-perfil" src="/imagen_perfil/<%= amigo.email %>" alt="avatar">
      <form action="profile.html" method="post">
        <input type="hidden" value="<%= amigo.email %>" name="nombre">
        <input id="boton-perfil" type="submit" value="<%= amigo.nombre_completo %>">
      </form>
    </li>
  <%}) %>
</ul>
</div>
<% } %>
