<% if(preguntas){
  preguntas.forEach(pregunta =>{ %>
    <li>
    <form action="/pregunta_<%= pregunta.id %>" method="post">
      <div class="pregunta">
        <input id="pgts" type="submit" value="<%= pregunta.texto %>">
       </div>
    </form>
   </li>
      <% })
  } %>
