<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Amigos - FaceBluff</title>
    <link rel="stylesheet" type="text/css" href="./css/preguntas.css">
</head>
<body>
   <header>
          <div>
                <img src="img/Logo.png" alt="FaceBluff - Logo" id="logo">
          </div>
          <nav class="enlaces">
           <ul class="lista">
               <li><a href="/profile.html">Perfil</a></li>
               <li><a href="/amigos.html">Amigos</a></li>
               <li><a href="/preguntas.html">Preguntas</a></li>
               <li><a href="/logout.html">Desconectar</a></li>
               <li><img id="lilav"src="/imagen_perfil/<%= userEmail %>"></li>
               <li id="ptos"><%= usuario.puntos %> pts</li>
           </ul>
       </nav>
   </header>
   <section class="contenido">
        <div class="superior">
            <span>Preguntas seleccionadas aleatoriamente</span>
        </div>
        <ul>
          <% if(preguntas){
            preguntas.forEach(pregunta =>{ %>
              <li> <div class="pregunta"> <span><%= pregunta.texto %></span> </div> </li>
                <% })
              } %>
        </ul>

        <div class="superior">
            <span>¡Añade tus preguntas!</span>
        </div>
        <form method="POST" action="/nuevaPregunta">
          <input id="boton" type="submit" value="Crear nueva pregunta">
        </form>

   </section>

</body>
</html>
