<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Preguntas - FaceBluff</title>
    <link rel="stylesheet" type="text/css" href="./css/preguntas.css">
</head>
<body>
   <%- include cabecera %>
   <section class="contenido">
        <div class="superior">
            <span>Preguntas seleccionadas aleatoriamente</span>
        </div>
        <ul>
          <% if(preguntas){
            preguntas.forEach(pregunta =>{ %>
              <li>
              <form action="/pregunta/<%= pregunta.id %>" method="post">
                <div class="pregunta">
                  <input type="submit" value="<%= pregunta.texto %>">
                 </div>
              </form>
             </li>
                <% })
              } %>
        </ul>

        <div class="superior">
            <span>¡Añade tus preguntas!</span>
        </div>
        <div class="nuevaPregunta">
          <form method="POST" action="/nuevaPregunta">
            <input id="boton" type="submit" value="Crear nueva pregunta">
          </form>
        </div>


   </section>

</body>
</html>
