<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Responder Pregunta - FaceBluff</title>
    <link rel="stylesheet" type="text/css" href="./css/preguntas.css">
</head>
<body>
   <%- include cabecera %>
   <section class="contenido">
        <div class="superior">
            <span><%= pregunta %></span>
        </div>
        <form action="/contestacion" method="post">
          <ul>
            <% if(opciones){
              opciones.forEach(opcion =>{ %>
                <li>
                  <input type="radio" name="opcion" value="<%= opcion.id %>">
                  <span> <%= opcion.opcion %> </span>
                  <!--<input type="hidden" name="opcionElegida" value -->
               </li>
                  <% })
                } %>
                <li> <input type="radio" name="opcion" value="otra"> <span> Otra: </span> <input name="otraResp" type="text"> </li>
          </ul>
          <input type="submit" value="Responder">
        </form>
   </section>
</body>
</html>
