<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Responder Pregunta - FaceBluff</title>
    <link rel="stylesheet" type="text/css" href="./css/preguntas.css">
</head>
<body>
   <%- include cabecera %>
   <section class="contenido">
        <div class="superior">
            <span><%= pregunta.texto %></span>
        </div>
        <form action="/pregunta/<%= pregunta.id %>" method="post">
          <ul>
            <% if(respuestas){
              respuestas.forEach(respuesta =>{ %>
                <li>
                  <input type="radio" name="respuesta" value="<%= respuesta.respuesta %>">
               </li>
                  <% })
                } %>
                <li> <input type="radio" name="respuesta" value="Otra:"> <input name="otraResp" type="text"> </li>
          </ul>
          <input type="submit" value="Responder">
        </form>
   </section>
</body>
</html>
