<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Responder Pregunta - FaceBluff</title>
    <link rel="stylesheet" type="text/css" href="./css/preguntas.css">
</head>
<body>
   <%- include cabecera %>
   <section class="contenido">
        <div class="superior">
            <span><%= pregunta %></span>
        </div>
        <div class="preguntas">
          <form action="/contestacion" method="post">
            <input type="hidden" name="idPregunta" value="<%= idPregunta %>">
            <ul class="li">
              <%- include("options") %>
              <li class="opts"> <input type="radio" name="idOpcion" value="otra"> <span> Otra: </span> <input id="otra" name="otraResp" type="text"> </li>
            </ul>
            <div class="butts">
              <input class="boton" type="submit" value="Responder">
            </div>
          </form>
        </div>
   </section>
</body>
</html>
