<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Responder Pregunta - FaceBluff</title>
    <link rel="stylesheet" type="text/css" href="./css/preguntas.css">
</head>
<body>
   <%- include cabecera %>
   <section class="contenido">
        <div class="superior">
            <span><%= pregunta %></span>
        </div>
        <form action="/contestacion" method="post">
          <input type="hidden" name="idPregunta" value="<%= idPregunta %>">
          <ul>
            <%- include("options") %>
          </ul>
          <input id="boton" type="submit" value="Responder">
        </form>
   </section>
</body>
</html>
