<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Amigos - FaceBluff</title>
    <link rel="stylesheet" type="text/css" href="./css/search.css">
</head>
<body>
   <%- include cabecera %>
   <section class="contenido">
        <div class="superior">
            <span>Resultados de la busqueda '<%= busqueda %>'</span>
        </div>
        <div class="friends">
          <ul class="lista-amigos">
            <%- include("busqueda") %>
          </ul>
        </div>
   </section>

</body>
</html>
