
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vista Pregunta - FaceBluff</title>
    <link rel="stylesheet" type="text/css" href="./css/search.css">
</head>
<body>
   <%- include cabecera %>
   <section class="contenido">
        <div class="superior">
            <span><%= preg.texto %></span>
        </div>

        <%- include("noContestado") %>

        <div class="span"> Los siguientes amigos han contestado a esta pregunta </div>

        <%- include("amigos_adivinar") %>

   </section>

</body>
</html>
