<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Bienvenido - Mentiroso v1.0</title>
  <link rel="stylesheet" type="text/css" href="./css/login.css">
</head>
<body>
  <div class="encabezado">
      <span>-MENTIROSO-</span>
  </div>
  <div class="cuerpo">
    <form action="login" method="post">
      <ul class="logForm">
        <li id="etiqueta">Identificación</li>
        <li>Nombre del usuario:</li>
        <li class="is"><input type="text" name="usuario"></li>
        <li>Contraseña:</li>
        <li class="is"><input type="password" name="password"></li>
        <li>
          <input type="radio" name="NU">
          <span>Nuevo usuario</span>
        </li>
        <li class="boton">
          <input type="submit" value="Aceptar">
        </li>
      </ul>
    </form>
  </div>

</body>
</html>
