@font-face{
    font-family: "GloriaHallelujah";
    src: url(../fonts/GloriaHallelujah.ttf) format("truetype");
}

html{
    font-family: "GloriaHallelujah";
    background-image: url(../img/Fondo.jpg);
    background-repeat: repeat-x;
}

#logo{
    display: block;
    margin-left:auto;
    margin-right:auto;
    width: 500px;
    height: 100px;
}

.enlaces{
    margin-left:auto;
    margin-right:auto;
    width: 900px;
    height: 40px;
    margin-top: -15px;
}

.lista li{
    display:inline;
    list-style: none;
}

li a{
    font-size: 30px;
    font-weight: bold;
    color:white;
    text-decoration: none;
    margin-left: 30px
}

.superior{
    display:flex;
    margin-left:auto;
    margin-right:auto;
    margin-top: 40px;
    width: 600px;
    height: 40px;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
}

.formulario-newuser{
    background-color: #8904B1;
    border:none;
    border-radius: 20px;
    width: 50%;
    height: 370px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.formulario{
    list-style: none;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
}

.f_email{
    display:flex;
    padding-top: 50px;
    padding-right: 25px;
}

.f_pass{
    display:flex;
    padding-top: 10px;
    padding-right: 25px;
}

.f_nombre{
    display:flex;
    padding-top: 10px;
    padding-right: 25px;
}

.f_fnacimiento{
    display:flex;
    padding-top: 15px;
    padding-right: 25px;
}

.input_e{
    width: 80%;
    height: 20px;
    flex-grow: 2;
    margin-left: 118px;
}

.input_p{
    width: 80%;
    height: 20px;
    flex-grow: 2;
    margin-left: 80px;
}

.input_n{
    width: 70%;
    height: 20px;
    flex-grow: 2;
    margin-left: 40px;
}
.f_sexo{
     padding-top: 10px;
}
.input_s{
    margin-left: 120px;
}

.input_fn{
    width: 20%;
    height: 20px;
    margin-left: 22px;
}

.input_img{
    margin-left: 47px;
}

.f_imagen{
  margin-top: 10px;
}

.conectar{
    display:flex;
    justify-content: center;
    margin-top: 25px;
}

#boton{
    font-family: "GloriaHallelujah";
    background-color: #CC2EFA;
    font-weight: bold;
    color:white;
    font-size: 30px;
    padding-left: 25px;
    padding-right: 25px;
    border-style: none;
    border-radius: 20px;
}

.flash{
  display: flex;
  justify-content: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  height: 50px;
  background-color:  #F5A9A9;
  background-image: url(../img/warning.png);
  background-repeat: no-repeat;
  background-position: 13% 65%;
  border-left: 7px solid;
  border-right: 7px solid;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color:  #B40404;
  border-radius: 10px;
}

.flash span{
  align-self: center;
  color: #B40404;
  font-size: 20px;
  font-weight: bold;
}
