@font-face{
    font-family: "GloriaHallelujah";
    src: url(../fonts/GloriaHallelujah.ttf) format("truetype");
}

html{
    font-family: "GloriaHallelujah";
    background-image: url(../img/Fondo.jpg);
    background-repeat: repeat-x;
}

#logo{
    display: block;
    margin-left:auto;
    margin-right:auto;
    width: 500px;
    height: 100px;
}

.enlaces{
    margin-left:auto;
    margin-right:auto;
    width: 1100px;
    height: 40px;
    margin-top: -15px;
}

.lista li{
    display:inline;
    list-style: none;
}

li a{
    font-size: 30px;
    font-weight: bold;
    color:white;
    text-decoration: none;
    margin-left: 30px
}

#lilav{
    width: 40px;
    height: 40px;
    margin-left: 250px;
    margin-bottom: -10px;
}

#ptos{
    margin-left: 10px;
    color: white;
}

.superior{
    display:flex;
    margin-left:auto;
    margin-right:auto;
    margin-top: 40px;
    width: 600px;
    height: 40px;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
}

.info-perfil{
    display: flex;
    background-color: #8904B1;
    border-radius: 15px;
    border-style: dotted;
    border-color: #ecc4ff;
    margin-top: 40px;
    margin-left:auto;
    margin-right: auto;
    width: 50%;
}

.datos li{
    list-style: none;
    color: white;
    margin-left: 50px;
    font-size: 25px;
    font-weight: bold;
}

#leftav{
    width: 250px;
    height: 250px;
    margin-left: 20px;
    align-self: center;
}

#boton{
    font-family: "GloriaHallelujah";
    background-color: #CC2EFA;
    font-weight: bold;
    color:white;
    font-size: 20px;
    padding-left: 25px;
    padding-right: 25px;
    border-style: none;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 20px;
}

.butt{
  display: flex;
  justify-content: center;
}

.cuerpo{
  display: flex;
  color: white;
  border-radius: 20px;
  background-color: #8904B1;
  justify-content: center;
  width: 40%;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  height: 90px;
}

.campo{
  display: flex;
  justify-content: space-around;
}

.izquierda{
  display: flex;
  align-items: center;
}

.derecha{
  align-self: center;
  margin-left: auto;
  width: 55%;
  margin-right: 40px;
}

#inputs{
  width: 100%;
}

.flash{
  display: flex;
  justify-content: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  height: 40px;
  background-color:  #ec7063;
  border-color:  #922b21;
  border-style: dotted;
  border-radius: 10px;
}

.flash span{
  color: white;
  font-size: 20px;
  font-weight: bold;
}

#imagen{
  width: 250px;
  height: auto;
  margin: 10px;
  border-radius: 10px;

}

.fotos-perfil{
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  border-style: dotted;
  border-color: #8904B1;
  border-radius: 20px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: auto;
}
