@font-face{
    font-family: "GloriaHallelujah";
    src: url(../fonts/GloriaHallelujah.ttf) format("truetype");
}

html{
    font-family: "GloriaHallelujah";
    background-image: url(../img/Fondo.jpg);
}

.enlaces{
    margin-left: -30px;
    position: fixed;
    top: 11%;
    left: 30%;
}

.enlaces li{
    list-style: none;
    display: inline;
    font-size: 25px;
    font-weight: bold;
    padding-left: 50px;
}

li a{
    color: white;
    text-decoration: none;
}

#logo{
    width:550px;
    height: 110px;
    position: absolute;
    left:50%;
    margin-left: -225px;
    top: 1%;
}

#superior{
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    left: 50%;
    top: 20%;
}

.login{
    background-color: #8904B1;
    width: 50%;
    height: 200px;
    position: absolute;
    left: 28%;
    top: 29%;
    border-radius: 20px;
}

.formulario{
    font-family: 'Roboto Condensed', sans-serif;
    position: relative;
    left: 5%;
    top: 15%;
    display: grid;
    grid-template-columns: auto 90%;
    grid-template-rows: 33px 33px;
    color:white;
}

.input_e{
    width: 90%;
    margin-right: auto;
}

.input_p{
    width: 90%;
    margin-right: auto;
}

.conectar{
    position: relative;
    left: 42%;
    top: 21%;
}

#boton{
    font-family: "GloriaHallelujah";
    background-color: #CC2EFA;
    font-weight: bold;
    color:white;
    font-size: 30px;
    padding-left: 25px;
    padding-right: 25px;
    border-style: none;
    border-radius: 20px;
}