html {
     font-family: 'Roboto Condensed', sans-serif;
}
.derecha, .input, .Tareas_completadas, .marcar_finalizado {
  display:none;
}
.lista{
	list-style-type:disc;
}
.tareaFinalizada, .etiqueta{
	color: gray;
}