/* Introduce aquí las reglas de estilo */
html {
     font-family: 'Roboto Condensed', sans-serif;
}
h1 {
    color:navy;
}
h4{
    color:blue;
}
.titulo {
    background-color: powderblue; 
    border-style:none;
    padding: 5px;
    border-radius: 10px;
}
h2{
    color:darkblue;
}
.resaltado{
    color: #641e16;
}
.Prole{

	color: #1a5276 ;
}
.tabla1 td{
	padding-right: 40px;
}
.tabla2 td{
	flex-direction: row;
	justify-content: flex-end;
}
.tablaProg{
	border-collapse: collapse;
}
.tablaProg th{
	color: white;
	background-color: brown; 
	border: 2px solid black;
}
.hora{
	background-color: lightyellow; 
}