@font-face{
    font-family: "Lamplighter";
    src: url(/fonts/Lamplighter.ttf) format("truetype");
}

html{
    font-family: "Lamplighter";
    background-image: url(/imagenes/fondoPagina.png);
}

.encabezado{
  display: flex;
  background-color: #3B3B3B;
  color: white;
  width: 100%;
  height: 90px;
  position: absolute;
  left: 0px;
  top: 0px;
}

.encabezado span{
  font-size: 80px;
  margin-left: 40px;
  align-self: center;
}

.cuerpo{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  height: 450px;
  background-color: #3B3B3B;
  border-radius: 15px;
}

.logForm{
  list-style-type: none;
  color: white;
  font-size: 50px;
}

.is{
  margin-top: -20px;
}

.is input{
  width: 95%;
  height: 20px;
  border-radius: 5px;
}

#etiqueta{
  text-decoration: underline;
  font-size: 70px;
}

.boton{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-right: 10%;
}

.boton input{
  font-family: "Lamplighter";
  background-color: #007BFF;
  width: 100px;
  height: 50px;
  border-radius: 5px;
  border: none;
  font-size: 40px;
  color: white;
}

#NU{
  background-color: #E6E6E6;
  color: #3B3B3B;
  width: 130px;
  margin-left: 15px;
}
